#text-nav {
    display: none ;
}

#nav-info {
    display: block;
    justify-content: center;
    padding: 20px;
}

#nav-bar a {
    float: none;
}

#img-banner {
    position: relative;
    width: 100%;
    filter: brightness(50%);
    padding: 0px;
    height: 100%;
    object-fit: none;
}

#container-about {
    display: block;
}

#job-info .container {
    display: contents;
}



