
section>.container {
    width: 100%;
    margin: auto;
    display: block;
    padding: 30px 50px;
}

#text-nav {
    display: none ;
}
#job-info .container {
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

#job-info {
    display: flex;
}

#project {
    display: flex;
}

.grid-item-certificate {
    display: flex;
    flex-direction: column;
    /* border-bottom: 3px solid orange; */
    margin-bottom: 30px;
    align-items: center;
}

.img-certificates {
    width: 80%;
    height: auto;
    padding-right: 0px;
}
