body {
  margin: 0px;
}
.cv-document {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: arial, sans-serif, tahoma;
  font-size: 10pt;
}

.cv-page {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  width: 900px;
  min-height: 900px;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: relative;

  padding: 40px;
}
.section {
  padding-bottom: 40px;
}
.section-title {
  text-transform: uppercase;
  border-bottom: 1px solid black;
  font-weight: bold;
}
#fullName {
  text-transform: capitalize;
  color: #0e2452;
}
.contact {
  padding-bottom: 10px;
}
.info-title {
  width: 100px;
  font-weight: bold;
  float: left;
}
.img-avatar {
  width: 113px;
  /* position: absolute;
  top: 50px;
  right: 20px; */
}
.div-contact {
  width: 85%;
  float: left;
}
.div-img {
  width: 15%;
  float: left;
  margin-bottom: 120px;
}
.date-title {
  width: 200px;
  font-weight: bold;
  float: left;
  margin-bottom: auto;
}
.date-value {
  width: 600px;
  margin-left: 200px;
  line-height: 5px;
}
.div-info {
  border-bottom: 1px solid rgb(199, 197, 197);
}
.clear {
  clear: both;
}