* {
    margin: 0px;
}

.bg-grey {
    background: #f7f7f7;
}

section > .container{
    width: 1170px;
    margin: auto;
    display: block;

    padding: 30px 50px;
}

#nav-bar {
    text-align: center;
}
#text-banner {
    font-family: arial;
    font-weight: 100;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 1.5;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#img-banner {
    position: relative;
    width:100%;
    filter: brightness(50%);
}