* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.bg-grey {
    background: #f7f7f7;
}

section > .container{
    width: 1170px;
    margin: auto;
    display: block;

    /* padding: 30px 50px; */
}
#text-banner {
    font-family: arial;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 1.5;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#img-banner {
    position: relative;
    width:100%;
    /* height: 100%; */
    filter: brightness(50%);
    padding: 0px;
}
#nav-bar {
    text-align: center;
}
#text-nav {
    font-family: arial;
    /* position: relative;  */
    text-align: center;
    /* line-height: 1.5; */
    /* top: 22%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}
#nav-bar {
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    left: 50%;
    border: rgb(201, 196, 196) 0.5px groove;
}
#nav-info {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
#nav-bar a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-left: rgb(201, 196, 196) 1px groove;
    border-right: rgb(201, 196, 196) 1px groove;
}

#nav-bar a:hover {
    background-color: #ddd;
    color: black;
}

#nav-bar a.active {
    background-color: #04AA6D;
    color: white;
}